openapi: 3.0.3
info:
  title: Art Explorer API
  description: API para la aplicación de exploración de arte, gestión de colecciones de usuarios y catálogo de obras.
  version: 1.0.0
servers:
  - url: https://api.artexplorer.com
    description: Servidor de Producción

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

    webhookSecret:
      type: apiKey
      in: header
      name: x-webhook-secret
      description: Secret key for validating Supabase webhook requests

  schemas:
    # --- Common Types ---
    UUID:
      type: string
      format: uuid
      example: '550e8400-e29b-41d4-a716-446655440000'

    CategoryObject:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        icon:
          type: string

    CategoryWithRelations:
      type: object
      description: 'Categoría con su jerarquía de relaciones (padres e hijos)'
      required:
        - id
        - name
        - type
        - icon
        - sortOrder
        - parentIds
        - childIds
        - updatedAt
      properties:
        id:
          type: string
          example: 'pintura'
          description: 'ID único de la categoría'
        name:
          type: string
          description: 'Nombre localizado de la categoría según el parámetro language'
          example: 'Pintura'
        type:
          type: string
          enum: [category, subcategory]
          example: 'category'
          description: "Tipo de categoría: 'category' (principal) o 'subcategory' (período artístico)"
        icon:
          type: string
          description: 'Emoji que representa la categoría'
          example: '🎨'
        imageUrl:
          type: string
          nullable: true
          description: 'URL opcional de imagen representativa'
          example: null
        sortOrder:
          type: integer
          example: 1
          description: 'Orden de visualización (menor = primero)'
        parentIds:
          type: array
          items:
            type: string
          description: 'IDs de las categorías padre (vacío para categorías principales)'
          example: []
        childIds:
          type: array
          items:
            type: string
          description: 'IDs de las subcategorías hijas (vacío para subcategorías)'
          example:
            [
              'antiguedad-romana-griega',
              'renacimiento',
              'barroco',
              'impresionismo-postimpresionismo',
            ]
        updatedAt:
          type: string
          format: date-time
          example: '2025-12-04T10:30:00Z'
          description: 'Última actualización para sincronización incremental'

    # --- Home Screen ---
    Quote:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        text:
          type: string
          example: 'El arte es la mentira que nos permite conocer la verdad'
        author:
          type: string
          example: 'Pablo Picasso'

    # --- Explore/Locations ---
    LocationSpot:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        description:
          type: string
        category:
          type: string
        distance:
          type: integer
          description: Distancia en metros
        estimatedTime:
          type: string

    # --- Artworks (Catalog) ---
    Artwork:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        title:
          type: string
        author:
          type: string
        year:
          type: string
        country:
          type: string
        period:
          type: string
        technique:
          type: string
        dimensions:
          type: string
        imageUrl:
          type: string
          format: uri
        description:
          type: string
        category:
          $ref: '#/components/schemas/CategoryObject'
        subcategory:
          $ref: '#/components/schemas/CategoryObject'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    # --- User Collection ---
    UserIdentifiedArtwork:
      allOf:
        - $ref: '#/components/schemas/Artwork'
        - type: object
          properties:
            capturedImageUrl:
              type: string
              format: uri
            identifiedAt:
              type: string
              format: date-time

    IdentifyArtworkRequest:
      type: object
      required:
        - capturedImageUrl
        - country
        - category_id
        - subcategory_id
        - title
        - author
        - image_url
      properties:
        capturedImageUrl:
          type: string
          format: uri
        country:
          type: string
        category_id:
          type: string
        subcategory_id:
          type: string
        title:
          type: string
        author:
          type: string
        year:
          type: string
        dimensions:
          type: string
        technique:
          type: string
        image_url:
          type: string # URL de referencia (no la capturada)

    CollectionStats:
      type: object
      properties:
        totalArtworks:
          type: integer
        totalArtists:
          type: integer

    CollectionSummary:
      type: object
      properties:
        stats:
          $ref: '#/components/schemas/CollectionStats'
        artistsInCollection:
          type: array
          items:
            type: object
            properties:
              artist:
                type: string
              artworkCount:
                type: integer
        countriesInCollection:
          type: array
          items:
            type: object
            properties:
              country:
                type: string
              artworkCount:
                type: integer

    # --- Camera Recognition ---
    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: string
          example: 'Invalid image format'
        message:
          type: string
          example: 'The uploaded file must be a valid JPG, PNG, or HEIC image'

    RecognizeArtworkRequest:
      type: object
      required:
        - image
        - localUri
      properties:
        image:
          type: string
          format: binary
          description: 'Imagen capturada del monumento u obra de arte (JPG, PNG, HEIC - máximo 10MB)'
        localUri:
          type: string
          description: 'URI local del dispositivo donde se guardó la imagen (file:// o content://)'
          example: 'file:///storage/emulated/0/DCIM/Camera/IMG_20241209_153045.jpg'

    RecognizedArtworkData:
      type: object
      description: 'Datos de la obra identificada - null si no se pudo identificar'
      nullable: true
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        title:
          type: string
          example: 'Las Meninas'
        artist:
          type: string
          example: 'Diego Velázquez'
        year:
          type: string
          example: '1656'
        period:
          type: string
          example: 'Spanish Baroque'
          description: 'Período artístico o movimiento'
        description:
          type: string
          example: 'One of the masterpieces of the Spanish Golden Age. It shows Infanta Margaret surrounded by her ladies-in-waiting (meninas) and other members of the court, including the painter himself. The complex composition with multiple viewpoints, the masterful use of light, and the mirror reflecting King Philip IV and Queen Mariana of Austria, challenge the perception of space and reality.'
        confidence:
          type: number
          format: float
          minimum: 0
          maximum: 1
          example: 0.98
          description: 'Nivel de confianza del reconocimiento (0.0 - 1.0)'
        tags:
          type: array
          items:
            type: string
          example:
            [
              'Spanish Baroque',
              'Court Portrait',
              'Oil on Canvas',
              '17th Century',
              'Prado Museum',
            ]
          description: 'Categorías, estilos y metadata adicional'
        capturedImageUrl:
          type: string
          example: 'file:///storage/emulated/0/DCIM/Camera/IMG_20241209_153045.jpg'
          description: 'URI local del dispositivo donde se encuentra la imagen capturada'
        identifiedAt:
          type: string
          format: date-time
          example: '2025-11-30T14:30:00Z'

    RecognizedArtworkResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
          description: 'Indica si la operación fue exitosa a nivel técnico'
        identified:
          type: boolean
          example: true
          description: 'Indica si la obra fue identificada por la IA (true) o no se pudo reconocer (false)'
        artwork:
          $ref: '#/components/schemas/RecognizedArtworkData'
        savedToCollection:
          type: boolean
          example: true
          description: 'Indica si la obra se guardó en la colección del usuario (solo true si identified=true)'
        message:
          type: string
          example: 'Artwork successfully identified and saved to collection'
          description: 'Mensaje descriptivo del resultado para el usuario'

    # --- Users ---
    User:
      type: object
      description: 'Datos del perfil del usuario'
      required:
        - id
        - email
        - preferredLanguage
        - isPremium
        - createdAt
      properties:
        id:
          $ref: '#/components/schemas/UUID'
          description: 'UUID del usuario (mismo que en Supabase Auth)'
        email:
          type: string
          format: email
          example: 'user@example.com'
        displayName:
          type: string
          example: 'John Doe'
          nullable: true
          description: 'Nombre visible del usuario'
        preferredLanguage:
          type: string
          enum: [es, en]
          example: 'es'
          description: 'Idioma preferido del usuario (detectado automáticamente al registrarse)'
        isPremium:
          type: boolean
          example: false
          description: 'Indica si el usuario tiene suscripción premium activa'
        allowDataCollection:
          type: boolean
          nullable: true
          example: true
          description: 'Permiso para guardar fotos del usuario para mejorar la IA de reconocimiento (null = no se ha preguntado, true = permitido, false = rechazado)'
        createdAt:
          type: string
          format: date-time
          example: '2025-12-01T20:00:00Z'
          description: 'Fecha de creación de la cuenta'

    UpdateUserRequest:
      type: object
      description: 'Datos para actualizar el perfil del usuario'
      properties:
        displayName:
          type: string
          example: 'Jane Smith'
          nullable: true
        preferredLanguage:
          type: string
          enum: [es, en]
          example: 'en'
          description: 'Cambiar idioma preferido del usuario'
        allowDataCollection:
          type: boolean
          nullable: true
          example: true
          description: 'Permiso para guardar fotos para mejorar la IA de reconocimiento'

    DeleteAccountRequest:
      type: object
      description: 'Datos para confirmar la eliminación de cuenta'
      required:
        - confirmationUserId
      properties:
        confirmationUserId:
          type: string
          example: '123e4567-e89b-12d3-a456-426614174000'
          description: 'ID del usuario para confirmar la eliminación (debe coincidir con el usuario autenticado)'

    DeleteAccountResponse:
      type: object
      description: 'Respuesta de eliminación de cuenta exitosa'
      required:
        - success
        - message
        - deletedAt
      properties:
        success:
          type: boolean
          example: true
          description: 'Indica si la eliminación fue exitosa'
        message:
          type: string
          example: 'Your account has been successfully deleted'
          description: 'Mensaje de confirmación'
        deletedAt:
          type: string
          format: date-time
          example: '2025-12-22T15:30:00Z'
          description: 'Timestamp de cuándo se eliminó la cuenta'

    # --- Webhooks ---
    SupabaseWebhookPayload:
      type: object
      description: 'Payload enviado por Supabase cuando se crea un nuevo usuario'
      required:
        - type
        - table
        - record
        - schema
      properties:
        type:
          type: string
          enum: [INSERT, UPDATE, DELETE]
          example: 'INSERT'
          description: 'Tipo de evento de base de datos'
        table:
          type: string
          example: 'users'
          description: 'Nombre de la tabla afectada'
        record:
          type: object
          description: 'Datos del usuario creado en Supabase Auth'
          required:
            - id
            - email
          properties:
            id:
              $ref: '#/components/schemas/UUID'
              description: 'UUID del usuario en Supabase Auth (usarlo como PK en tabla local)'
            email:
              type: string
              format: email
              example: 'user@example.com'
            raw_user_meta_data:
              type: object
              description: 'Metadata adicional del perfil del usuario'
              properties:
                displayName:
                  type: string
                  example: 'John Doe'
                  nullable: true
                language:
                  type: string
                  enum: [es, en]
                  example: 'es'
                  description: 'Idioma detectado del dispositivo al momento del registro'
                  nullable: false
            created_at:
              type: string
              format: date-time
              example: '2025-12-01T20:00:00Z'
        schema:
          type: string
          example: 'auth'
          description: "Schema de la base de datos (siempre 'auth' para usuarios de Supabase)"
        old_record:
          type: object
          nullable: true
          description: 'Registro anterior (null para INSERT events)'

    WebhookSuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: 'User created successfully'
        userId:
          $ref: '#/components/schemas/UUID'

    # --- Payments/Subscriptions ---
    CreatePaymentIntentRequest:
      type: object
      description: 'Request body para crear Payment Intent de Travel Pass'
      required:
        - planId
      properties:
        planId:
          type: string
          enum: [travel_pass]
          description: 'Identificador del plan - solo se acepta travel_pass para payment intents'
          example: 'travel_pass'
        currency:
          type: string
          default: 'eur'
          description: 'Código de moneda (ISO 4217)'
          example: 'eur'

    PaymentSheetResponse:
      type: object
      description: 'Credenciales para inicializar Stripe Payment Sheet en el cliente'
      required:
        - paymentIntent
        - ephemeralKey
        - customer
        - publishableKey
      properties:
        paymentIntent:
          type: string
          description: 'Payment Intent client_secret (comienza con pi_)'
          example: 'pi_3QLxyz123_secret_xyz789abc'
        ephemeralKey:
          type: string
          description: 'Ephemeral Key secret para autenticación del Stripe SDK'
          example: 'ek_test_YWJjZGVm'
        customer:
          type: string
          description: 'Stripe Customer ID (comienza con cus_)'
          example: 'cus_QtPxyz123ABC'
        publishableKey:
          type: string
          description: 'Stripe publishable key para inicializar el SDK'
          example: 'pk_test_51xyz...'

    CreateSetupIntentRequest:
      type: object
      description: 'Request body para crear SetupIntent de suscripción (Paso 1/2)'
      required:
        - planId
      properties:
        planId:
          type: string
          enum: [monthly, annual]
          description: 'Identificador del plan de suscripción'
          example: 'monthly'

    SetupIntentResponse:
      type: object
      description: 'Credenciales para inicializar Stripe SetupIntent Sheet en el cliente'
      required:
        - setupIntent
        - ephemeralKey
        - customer
        - publishableKey
      properties:
        setupIntent:
          type: string
          description: 'SetupIntent client_secret (comienza con seti_)'
          example: 'seti_1QLxyz123_secret_abc789xyz'
        ephemeralKey:
          type: string
          description: 'Ephemeral Key secret para autenticación del Stripe SDK'
          example: 'ek_test_YWJjZGVm'
        customer:
          type: string
          description: 'Stripe Customer ID (comienza con cus_)'
          example: 'cus_QtPxyz123ABC'
        publishableKey:
          type: string
          description: 'Stripe publishable key para inicializar el SDK'
          example: 'pk_test_51xyz...'

    CreateSubscriptionRequest:
      type: object
      description: 'Request body para crear suscripción con método de pago guardado (Paso 2/2)'
      required:
        - planId
      properties:
        planId:
          type: string
          enum: [monthly, annual]
          description: 'Identificador del plan de suscripción'
          example: 'monthly'
        setupIntentId:
          type: string
          pattern: '^seti_[a-zA-Z0-9_]+$'
          description: 'Opcional: SetupIntent ID para extraer método de pago (comienza con seti_)'
          example: 'seti_1QLxyz123abc'

    SubscriptionCreatedResponse:
      type: object
      description: 'Respuesta al crear una suscripción exitosamente'
      required:
        - subscriptionId
        - status
        - currentPeriodEnd
      properties:
        subscriptionId:
          type: string
          description: 'Stripe Subscription ID (comienza con sub_)'
          example: 'sub_1QLxyzABC123'
        status:
          type: string
          description: 'Estado actual de la suscripción'
          example: 'active'
        currentPeriodEnd:
          type: string
          format: date-time
          description: 'Fecha ISO 8601 cuando termina el período de facturación actual'
          example: '2026-01-15T14:30:00.000Z'

    SubscriptionStatusResponse:
      type: object
      description: 'Estado actual de la suscripción o compra del usuario'
      required:
        - plan
        - status
        - isSubscribed
      properties:
        plan:
          type: string
          enum: [monthly, annual]
          nullable: true
          description: 'Tipo de plan de suscripción (null para travel_pass o sin suscripción)'
          example: 'monthly'
        status:
          type: string
          enum: [active, expired, canceled, past_due, none]
          description: 'Estado actual de la suscripción o compra'
          example: 'active'
        expiryDate:
          type: string
          format: date-time
          nullable: true
          description: 'Fecha ISO 8601 cuando expira la suscripción o compra'
          example: '2026-01-15T14:30:00.000Z'
        isSubscribed:
          type: boolean
          description: 'True si el usuario tiene acceso premium activo actualmente'
          example: true

    StripeWebhookEvent:
      type: object
      description: 'Payload de evento webhook de Stripe'
      required:
        - type
        - data
      properties:
        type:
          type: string
          description: 'Tipo de evento de Stripe'
          example: 'payment_intent.succeeded'
        data:
          type: object
          description: 'Datos del evento conteniendo el objeto de Stripe'

paths:
  # ----------------------------
  # HOME SCREEN
  # ----------------------------
  /api/home/quotes:
    get:
      tags:
        - Home
      summary: Obtener citas de artistas
      parameters:
        - in: query
          name: language
          schema:
            type: string
            default: 'es'
          description: Código ISO 639-1 (es, en, fr)
      responses:
        '200':
          description: Lista de citas
          content:
            application/json:
              schema:
                type: object
                properties:
                  quotes:
                    type: array
                    items:
                      $ref: '#/components/schemas/Quote'

  # ----------------------------
  # CAMERA RECOGNITION
  # ----------------------------
  /api/camera/recognize:
    post:
      tags:
        - Camera Recognition
      summary: Reconocer monumento u obra de arte desde imagen capturada
      description: |
        Recibe una imagen capturada por el usuario, la procesa mediante IA para identificar
        el monumento u obra de arte, y automáticamente la guarda en la colección del usuario
        si es reconocida exitosamente.

        **Flujo:**
        1. Usuario captura foto desde la cámara y la guarda localmente en el dispositivo
        2. Frontend envía imagen (para análisis) y localUri (para almacenamiento) como multipart/form-data
        3. Backend procesa imagen con IA y busca coincidencias
        4. Si identifica: guarda localUri en colección y retorna datos completos
        5. Si no identifica: retorna identified=false con mensaje descriptivo

        **Limitaciones:**
        - Tamaño máximo: 10MB
        - Formatos soportados: JPG, PNG, HEIC
        - Rate limiting: 10 requests/minuto (ráfagas)

        **Sistema de Cuotas Diarias (usuarios no-premium):**
        - Día 1 de uso: 5 reconocimientos exitosos permitidos
        - Día 2 de uso: 2 reconocimientos exitosos permitidos
        - Día 3 de uso: 2 reconocimientos exitosos permitidos
        - Días 4-30: 1 reconocimiento exitoso por día
        - Después de 30 días: El ciclo se reinicia automáticamente
        - **Nota:** Solo cuentan reconocimientos exitosos (obras realmente identificadas)
        - **Usuarios Premium:** Reconocimientos ilimitados (bypass completo)
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: language
          schema:
            type: string
            pattern: '^[a-z]{2}$'
            default: 'es'
          description: Código ISO 639-1 del idioma (es, en, fr) para los resultados
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RecognizeArtworkRequest'
            encoding:
              image:
                contentType: image/jpeg, image/png, image/heic
      responses:
        '200':
          description: |
            Operación exitosa - puede indicar obra identificada (identified=true)
            o no identificada (identified=false)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecognizedArtworkResponse'
              examples:
                identified:
                  summary: Obra identificada exitosamente
                  value:
                    success: true
                    identified: true
                    artwork:
                      id: '550e8400-e29b-41d4-a716-446655440000'
                      title: 'Las Meninas'
                      artist: 'Diego Velázquez'
                      year: '1656'
                      period: 'Spanish Baroque'
                      description: 'One of the masterpieces of the Spanish Golden Age. It shows Infanta Margaret surrounded by her ladies-in-waiting (meninas) and other members of the court, including the painter himself. The complex composition with multiple viewpoints, the masterful use of light, and the mirror reflecting King Philip IV and Queen Mariana of Austria, challenge the perception of space and reality.'
                      confidence: 0.98
                      tags:
                        [
                          'Spanish Baroque',
                          'Court Portrait',
                          'Oil on Canvas',
                          '17th Century',
                          'Prado Museum',
                        ]
                      capturedImageUrl: 'https://storage.artexplorer.com/captures/user123/abc123.jpg'
                      identifiedAt: '2025-11-30T14:30:00Z'
                    savedToCollection: true
                    message: 'Artwork successfully identified and saved to collection'
                not_identified:
                  summary: Obra no pudo ser identificada
                  value:
                    success: true
                    identified: false
                    artwork: null
                    savedToCollection: false
                    message: 'Artwork could not be identified. Try with better lighting or a different angle.'
        '400':
          description: Solicitud inválida - imagen corrupta, formato no soportado, etc.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                invalid_format:
                  summary: Formato de imagen no válido
                  value:
                    success: false
                    error: 'invalid_image_format'
                    message: 'The uploaded file must be a valid JPG, PNG, or HEIC image'
                missing_image:
                  summary: Falta el campo image
                  value:
                    success: false
                    error: 'missing_required_field'
                    message: "The 'image' field is required"
        '401':
          description: No autenticado - token JWT inválido o faltante
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error: 'unauthorized'
                message: 'Valid authentication token required'
        '413':
          description: Payload demasiado grande - imagen excede 10MB
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error: 'payload_too_large'
                message: 'Image file size must not exceed 10MB'
        '403':
          description: Cuota diaria excedida - usuario ha alcanzado su límite de reconocimientos del día
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 403
                  error:
                    type: string
                    example: 'QuotaExceeded'
                  message:
                    type: string
                    description: Mensaje en el idioma preferido del usuario
                  quotaInfo:
                    type: object
                    properties:
                      hasQuota:
                        type: boolean
                        example: false
                      currentUsageDay:
                        type: integer
                        description: Día de uso actual (0=primer día, 1=segundo día, etc.)
                        example: 3
                      dailyLimit:
                        type: integer
                        description: Límite diario según el día de uso
                        example: 1
                      usedToday:
                        type: integer
                        description: Reconocimientos exitosos realizados hoy
                        example: 1
                      remainingToday:
                        type: integer
                        description: Reconocimientos restantes para hoy
                        example: 0
                      resetsAt:
                        type: string
                        format: date-time
                        description: Timestamp cuando resetea la cuota diaria (próximo día a las 00:00 Madrid)
                        example: '2025-12-28T00:00:00.000Z'
                      cycleResetsAt:
                        type: string
                        format: date-time
                        description: Timestamp cuando resetea el ciclo completo de 30 días
                        example: '2026-01-26T10:30:00.000Z'
                      isPremium:
                        type: boolean
                        example: false
              examples:
                spanish:
                  summary: Usuario en español alcanzó su límite (Día 4, 1 reconocimiento usado)
                  value:
                    statusCode: 403
                    error: 'QuotaExceeded'
                    message: 'Has alcanzado tu límite diario de reconocimientos. Intenta mañana o mejora a Premium para reconocimientos ilimitados.'
                    quotaInfo:
                      hasQuota: false
                      currentUsageDay: 3
                      dailyLimit: 1
                      usedToday: 1
                      remainingToday: 0
                      resetsAt: '2025-12-28T00:00:00.000Z'
                      cycleResetsAt: '2026-01-26T10:30:00.000Z'
                      isPremium: false
                english:
                  summary: User in English reached daily limit (Day 2, 2 recognitions used)
                  value:
                    statusCode: 403
                    error: 'QuotaExceeded'
                    message: 'You have reached your daily recognition limit. Try again tomorrow or upgrade to Premium for unlimited recognitions.'
                    quotaInfo:
                      hasQuota: false
                      currentUsageDay: 1
                      dailyLimit: 2
                      usedToday: 2
                      remainingToday: 0
                      resetsAt: '2025-12-28T00:00:00.000Z'
                      cycleResetsAt: '2026-01-15T08:45:00.000Z'
                      isPremium: false
                french:
                  summary: Utilisateur en français a atteint la limite quotidienne (Jour 1, 5 reconnaissances utilisées)
                  value:
                    statusCode: 403
                    error: 'QuotaExceeded'
                    message: 'Vous avez atteint votre limite quotidienne de reconnaissance. Réessayez demain ou passez à Premium pour des reconnaissances illimitées.'
                    quotaInfo:
                      hasQuota: false
                      currentUsageDay: 0
                      dailyLimit: 5
                      usedToday: 5
                      remainingToday: 0
                      resetsAt: '2025-12-28T00:00:00.000Z'
                      cycleResetsAt: '2026-01-20T12:00:00.000Z'
                      isPremium: false
        '429':
          description: Demasiadas solicitudes - rate limit excedido (10 requests/minuto)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error: 'rate_limit_exceeded'
                message: 'Too many requests. Please wait a moment and try again.'
        '500':
          description: Error interno del servidor - fallo en procesamiento IA o base de datos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error: 'internal_server_error'
                message: 'An unexpected error occurred while processing the image. Please try again.'

  /api/camera/artwork/details:
    post:
      tags:
        - Camera Recognition
      summary: Obtener información detallada de una obra identificada
      description: |
        Recibe información básica de una obra (título, autor, descripción) y retorna
        información enriquecida adicional como contexto histórico, técnica, ubicación,
        obras relacionadas, y datos curiosos.

        **Uso típico:**
        - Usuario ve la información inicial de una obra identificada
        - Usuario solicita "más información" sobre la obra
        - Frontend envía los datos básicos disponibles
        - Backend enriquece con contexto adicional mediante IA y bases de datos

        **Limitaciones:**
        - Rate limiting aplicado según tier de suscripción
        - Requiere al menos título o autor para funcionar
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: language
          schema:
            type: string
            pattern: '^[a-z]{2}$'
            default: 'es'
          description: Código ISO 639-1 del idioma (es, en, fr) para los resultados enriquecidos
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - title
              properties:
                title:
                  type: string
                  description: Título de la obra
                  example: 'Las Meninas'
                artist:
                  type: string
                  description: Nombre del artista/creador
                  example: 'Diego Velázquez'
                description:
                  type: string
                  description: Descripción inicial de la obra
                  example: 'One of the masterpieces of the Spanish Golden Age...'
                year:
                  type: string
                  description: Año de creación (opcional)
                  example: '1656'
                artworkId:
                  type: string
                  description: ID de la obra en la base de datos (si ya fue identificada previamente)
                  example: '550e8400-e29b-41d4-a716-446655440000'
      responses:
        '200':
          description: Información detallada obtenida exitosamente
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  detailedInfo:
                    type: object
                    properties:
                      historicalContext:
                        type: string
                        description: Contexto histórico y cultural de la época
                        example: 'Created during the reign of Philip IV of Spain, during the Spanish Golden Age...'
                      visualDescription:
                        type: string
                        description: Descripción visual detallada de la obra (composición, colores, elementos, figuras)
                        example: 'The painting depicts a large room in the Royal Alcazar of Madrid. In the center, the Infanta Margarita Teresa is surrounded by her ladies-in-waiting...'
                      symbolism:
                        type: string
                        description: Simbolismo e interpretación de la obra
                        example: 'The mirror in the background reflects the royal couple, suggesting multiple perspectives...'
                      interestingFacts:
                        type: array
                        items:
                          type: string
                        example:
                          - 'Picasso created 58 interpretations of Las Meninas in 1957'
                          - 'The painting includes a self-portrait of Velázquez himself'
                          - 'It was originally titled "The Family of Philip IV"'
                      artistBio:
                        type: string
                        description: Breve biografía del artista
                        example: 'Diego Rodríguez de Silva y Velázquez (1599-1660) was a Spanish painter...'
        '400':
          description: Solicitud inválida - faltan campos requeridos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error: 'missing_required_field'
                message: 'Title is required to fetch artwork details'
        '401':
          description: No autenticado - token JWT inválido o faltante
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error: 'unauthorized'
                message: 'Valid authentication token required'
        '404':
          description: Obra no encontrada en la base de datos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error: 'artwork_not_found'
                message: 'Could not find detailed information for the specified artwork'
        '429':
          description: Demasiadas solicitudes - rate limit excedido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error: 'rate_limit_exceeded'
                message: 'Detail request limit reached. Please try again later.'
        '500':
          description: Error interno del servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error: 'internal_server_error'
                message: 'An unexpected error occurred while fetching artwork details'

  # ----------------------------
  # EXPLORE SCREEN
  # ----------------------------

  /api/explore/locations/nearby:
    get:
      tags:
        - Explore
      summary: Obtener lugares culturales cercanos
      parameters:
        - in: query
          name: latitude
          required: true
          schema:
            type: number
            format: float
        - in: query
          name: longitude
          required: true
          schema:
            type: number
            format: float
        - in: query
          name: maxDistance
          schema:
            type: integer
            default: 5000
        - in: query
          name: language
          schema:
            type: string
            default: 'es'
        - in: query
          name: limit
          schema:
            type: integer
            default: 10
      responses:
        '200':
          description: Lista de lugares cercanos
          content:
            application/json:
              schema:
                type: object
                properties:
                  locations:
                    type: array
                    items:
                      $ref: '#/components/schemas/LocationSpot'
                  count:
                    type: integer

  /api/explore/artworks:
    get:
      tags:
        - Explore
      summary: Listar obras del catálogo por categoría/país
      parameters:
        - in: query
          name: category_id
          schema:
            type: string
        - in: query
          name: subcategory_id
          schema:
            type: string
        - in: query
          name: country
          schema:
            type: string
        - in: query
          name: language
          schema:
            type: string
            default: 'es'
        - in: query
          name: limit
          schema:
            type: integer
            default: 20
        - in: query
          name: offset
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Lista paginada de obras
          content:
            application/json:
              schema:
                type: object
                properties:
                  artworks:
                    type: array
                    items:
                      $ref: '#/components/schemas/Artwork'
                  pagination:
                    type: object
                    properties:
                      total:
                        type: integer
                      limit:
                        type: integer
                      offset:
                        type: integer
                      hasMore:
                        type: boolean
                  filters:
                    type: object

  # ----------------------------
  # ARTWORKS (CATALOG)
  # ----------------------------
  /api/artworks/{id}:
    get:
      tags:
        - Artworks Catalog
      summary: Obtener detalle de una obra específica
      parameters:
        - in: path
          name: id
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
        - in: query
          name: language
          schema:
            type: string
            default: 'es'
      responses:
        '200':
          description: Detalle de la obra
          content:
            application/json:
              schema:
                type: object
                properties:
                  artwork:
                    $ref: '#/components/schemas/Artwork'

  /api/artworks/search:
    get:
      tags:
        - Artworks Catalog
      summary: Buscar obras por título o autor
      parameters:
        - in: query
          name: q
          required: true
          schema:
            type: string
          description: Query de búsqueda
        - in: query
          name: language
          schema:
            type: string
            default: 'es'
        - in: query
          name: limit
          schema:
            type: integer
            default: 20
        - in: query
          name: offset
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Resultados de búsqueda
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Artwork'
                  pagination:
                    type: object
                    properties:
                      total:
                        type: integer
                      limit:
                        type: integer
                      offset:
                        type: integer
                      hasMore:
                        type: boolean
                  query:
                    type: string

  /api/artworks/daily-recommendation:
    get:
      tags:
        - Artworks Catalog
      summary: Obtener recomendación diaria de obra de arte
      description: |
        Retorna una obra de arte seleccionada aleatoriamente como recomendación del día.

        **Características:**
        - La recomendación se genera automáticamente y es la misma para todos los usuarios durante el día
        - Se renueva automáticamente cada día
        - Requiere autenticación JWT
        - Soporta múltiples idiomas para las traducciones

        **Cache:**
        - La recomendación se cachea en memoria para optimizar rendimiento
        - Cache válido hasta que cambie la fecha (UTC)
        - Si el servidor se reinicia, se genera una nueva recomendación automáticamente
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: language
          schema:
            type: string
            default: 'es'
          description: Código ISO 639-1 del idioma (es, en, fr) para obtener las traducciones
      responses:
        '200':
          description: Recomendación diaria obtenida exitosamente
          content:
            application/json:
              schema:
                type: object
                properties:
                  artwork:
                    $ref: '#/components/schemas/Artwork'
              example:
                artwork:
                  id: '550e8400-e29b-41d4-a716-446655440000'
                  title: 'La noche estrellada'
                  author: 'Vincent van Gogh'
                  year: '1889'
                  country: 'Francia'
                  period: 'Postimpresionismo'
                  technique: 'Óleo sobre lienzo'
                  dimensions: '73.7 cm × 92.1 cm'
                  imageUrl: 'https://example.com/starry-night.jpg'
                  description: 'Una de las pinturas más famosas del arte moderno...'
                  category:
                    id: 'pintura'
                    name: 'Pintura'
                    icon: '🎨'
                  createdAt: '2025-01-01T00:00:00Z'
                  updatedAt: '2025-01-01T00:00:00Z'
        '401':
          description: No autenticado - JWT inválido o no proporcionado
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 401
                  message:
                    type: string
                    example: 'Unauthorized'

  # ----------------------------
  # USER COLLECTION
  # ----------------------------
  /api/user/collection:
    get:
      tags:
        - User Collection
      summary: Resumen de la colección del usuario
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: language
          schema:
            type: string
            default: 'es'
      responses:
        '200':
          description: Estadísticas y grupos de la colección
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionSummary'

  /api/user/collection/artist/{artistName}:
    get:
      tags:
        - User Collection
      summary: Obtener obras de usuario filtradas por artista
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: artistName
          required: true
          schema:
            type: string
          description: Nombre del artista (URL encoded)
        - in: query
          name: language
          schema:
            type: string
            default: 'es'
      responses:
        '200':
          description: Obras del artista en la colección
          content:
            application/json:
              schema:
                type: object
                properties:
                  artist:
                    type: string
                  artworkCount:
                    type: integer
                  artworks:
                    type: array
                    items:
                      $ref: '#/components/schemas/UserIdentifiedArtwork'

  /api/user/collection/country/{countryName}:
    get:
      tags:
        - User Collection
      summary: Obtener obras de usuario filtradas por país
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: countryName
          required: true
          schema:
            type: string
        - in: query
          name: language
          schema:
            type: string
            default: 'es'
      responses:
        '200':
          description: Obras del país en la colección
          content:
            application/json:
              schema:
                type: object
                properties:
                  country:
                    type: string
                  artworkCount:
                    type: integer
                  artworks:
                    type: array
                    items:
                      $ref: '#/components/schemas/UserIdentifiedArtwork'

  /api/user/collection/recent:
    get:
      tags:
        - User Collection
      summary: Obtener obras recientemente identificadas
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
            default: 3
        - in: query
          name: language
          schema:
            type: string
            default: 'es'
      responses:
        '200':
          description: Lista de obras recientes
          content:
            application/json:
              schema:
                type: object
                properties:
                  artworks:
                    type: array
                    items:
                      # Nota: La respuesta de ejemplo muestra una versión simplificada,
                      # pero usaremos el esquema completo para consistencia o una versión parcial inline
                      type: object
                      properties:
                        id:
                          $ref: '#/components/schemas/UUID'
                        title:
                          type: string
                        author:
                          type: string
                        capturedImageUrl:
                          type: string
                        identifiedAt:
                          type: string
                          format: date-time

  /api/user/collection/identify:
    post:
      tags:
        - User Collection
      summary: Guardar una obra identificada en la colección
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdentifyArtworkRequest'
      responses:
        '200':
          description: Obra guardada exitosamente
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  artwork:
                    $ref: '#/components/schemas/UserIdentifiedArtwork'
                  updatedStats:
                    $ref: '#/components/schemas/CollectionStats'

  /api/user/collection/{id}:
    delete:
      tags:
        - User Collection
      summary: Eliminar una obra de la colección
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '200':
          description: Obra eliminada
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                  deletedId:
                    $ref: '#/components/schemas/UUID'
                  updatedStats:
                    $ref: '#/components/schemas/CollectionStats'

  # ----------------------------
  # SYNC
  # ----------------------------
  /api/sync/users/me:
    get:
      tags:
        - Users
      summary: Obtener perfil del usuario autenticado
      description: |
        Retorna la información del perfil del usuario actual.

        **Uso en la app:**
        - Se llama automáticamente después del login para sincronizar datos con SQLite local
        - Los datos se cachean localmente para acceso offline
        - El backend es la fuente de verdad para el perfil del usuario
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Perfil del usuario
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
              example:
                id: '550e8400-e29b-41d4-a716-446655440000'
                email: 'user@example.com'
                displayName: 'John Doe'
                preferredLanguage: 'es'
                isPremium: false
                allowDataCollection: null
                createdAt: '2025-12-01T20:00:00Z'
        '401':
          description: No autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error: 'Unauthorized'
                message: 'No authentication token provided'

    patch:
      tags:
        - Users
      summary: Actualizar perfil del usuario autenticado
      description: |
        Actualiza la información del perfil del usuario actual.

        **Campos actualizables:**
        - `displayName`: Nombre visible del usuario
        - `preferredLanguage`: Idioma preferido (es/en)
        - `allowDataCollection`: Permiso para guardar fotos para mejora de IA (true/false/null)

        **Notas:**
        - Solo se actualizan los campos proporcionados (PATCH parcial)
        - El cambio de idioma afecta el contenido personalizado (quotes, descripciones)
        - La app debe sincronizar los cambios con SQLite local después de actualizar
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserRequest'
            examples:
              update_language:
                summary: Cambiar idioma preferido
                value:
                  preferredLanguage: 'en'
              update_profile:
                summary: Actualizar nombre
                value:
                  displayName: 'Jane Smith'
              update_all:
                summary: Actualizar todos los campos
                value:
                  displayName: 'Jane Smith'
                  preferredLanguage: 'en'
                  allowDataCollection: true
      responses:
        '200':
          description: Perfil actualizado exitosamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
              example:
                id: '550e8400-e29b-41d4-a716-446655440000'
                email: 'user@example.com'
                displayName: 'Jane Smith'
                preferredLanguage: 'en'
                isPremium: false
                allowDataCollection: true
                createdAt: '2025-12-01T20:00:00Z'
        '400':
          description: Datos inválidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error: 'Validation Error'
                message: "preferredLanguage must be 'es' or 'en'"
        '401':
          description: No autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error: 'Unauthorized'
                message: 'No authentication token provided'

    delete:
      tags:
        - Users
      summary: Eliminar cuenta de usuario (GDPR/CCPA compliant)
      description: |
        Elimina permanentemente la cuenta del usuario cumpliendo con regulaciones GDPR y CCPA.

        **Proceso de eliminación:**
        1. Valida que el email de confirmación coincida con el email del usuario
        2. Elimina el usuario de Supabase Auth (no podrá volver a autenticarse)
        3. Anonimiza datos personales en la base de datos
        4. Elimina tokens de notificaciones push
        5. Preserva colecciones de arte (imágenes) de forma anónima
        6. Preserva registros financieros (subscripciones/compras) anonimizados para cumplimiento legal

        **Datos eliminados:**
        - Email (reemplazado por `deleted_<userId>@deleted.travelai.com`)
        - Nombre visible (`displayName`)
        - Idioma preferido
        - Permisos de recolección de datos
        - Tokens de notificaciones push
        - Usuario de Supabase Auth

        **Datos preservados (anonimizados):**
        - Registros de subscripciones (para cumplimiento fiscal - 7-10 años)
        - Registros de compras únicas (para cumplimiento fiscal)
        - Colecciones de arte e imágenes capturadas (userId = null, imágenes preservadas)

        **Importante:**
        - No hay periodo de gracia - la eliminación es inmediata
        - No es reversible
        - El usuario no podrá volver a autenticarse
        - Las imágenes capturadas se preservan de forma anónima
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteAccountRequest'
            example:
              confirmationUserId: '123e4567-e89b-12d3-a456-426614174000'
      responses:
        '200':
          description: Cuenta eliminada exitosamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteAccountResponse'
              example:
                success: true
                message: 'Your account has been successfully deleted'
                deletedAt: '2025-12-22T15:30:00Z'
        '400':
          description: ID de usuario de confirmación no coincide
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error: 'Bad Request'
                message: 'Confirmation user ID does not match authenticated user'
        '401':
          description: No autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error: 'Unauthorized'
                message: 'No authentication token provided'
        '404':
          description: Usuario no encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error: 'Not Found'
                message: 'User not found'

  /api/sync/users/me/push-token:
    post:
      tags:
        - Users
        - Notifications
      summary: Registrar token de notificaciones push
      description: |
        Registra o actualiza el Expo Push Token del dispositivo actual.

        **Uso en la app:**
        - Se llama automáticamente al autenticarse el usuario
        - Se actualiza si el token cambia
        - Un usuario puede tener múltiples tokens (múltiples dispositivos)

        **Backend debe:**
        - Almacenar el token asociado al usuario
        - Actualizar si ya existe un token para el mismo deviceId
        - Mantener múltiples tokens por usuario (para multi-dispositivo)
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
                - deviceId
                - platform
              properties:
                token:
                  type: string
                  example: 'ExponentPushToken[xxxxxxxxxxxxxxxxxxxxxx]'
                  description: 'Expo Push Token obtenido del cliente'
                deviceId:
                  type: string
                  example: 'abc123-device-id'
                  description: 'ID único del dispositivo'
                platform:
                  type: string
                  enum: [ios, android]
                  example: 'ios'
                  description: 'Plataforma del dispositivo'
                timestamp:
                  type: integer
                  example: 1702987200000
                  description: 'Timestamp de registro en milisegundos'
      responses:
        '200':
          description: Token registrado exitosamente
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  tokenId:
                    type: string
                    example: 'token-uuid-123'
                    description: 'ID del token registrado en la base de datos'
        '400':
          description: Token inválido o datos incorrectos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error: 'BadRequest'
                message: 'Invalid push token format'
        '401':
          description: No autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    delete:
      tags:
        - Users
        - Notifications
      summary: Eliminar token de notificaciones push
      description: |
        Elimina el token del dispositivo actual.

        **Uso en la app:**
        - Se llama al hacer logout
        - Se llama si el usuario desinstala la app (opcional)

        **Backend debe:**
        - Eliminar el token asociado al deviceId del usuario
        - Dejar de enviar notificaciones a ese token
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: deviceId
          required: true
          schema:
            type: string
          description: 'ID del dispositivo cuyo token se eliminará'
          example: 'abc123-device-id'
      responses:
        '200':
          description: Token eliminado exitosamente
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
        '401':
          description: No autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Token no encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/sync/users/me/notification-preferences:
    get:
      tags:
        - Users
        - Notifications
      summary: Obtener preferencias de notificaciones
      description: |
        Retorna las preferencias de notificaciones del usuario.

        **Preferencias disponibles:**
        - `dailyArtEnabled`: Si el usuario quiere recibir notificación diaria de arte
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Preferencias de notificaciones
          content:
            application/json:
              schema:
                type: object
                properties:
                  dailyArtEnabled:
                    type: boolean
                    example: true
                    description: 'Si el usuario quiere recibir notificación diaria a las 20:00'
              example:
                dailyArtEnabled: true
        '401':
          description: No autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    patch:
      tags:
        - Users
        - Notifications
      summary: Actualizar preferencias de notificaciones
      description: |
        Actualiza las preferencias de notificaciones del usuario.

        **Uso en la app:**
        - Se llama cuando el usuario cambia el toggle en Settings
        - El backend debe actualizar las preferencias en la base de datos
        - El cron job de notificaciones debe respetar estas preferencias
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                dailyArtEnabled:
                  type: boolean
                  example: true
                  description: 'Si el usuario quiere recibir notificación diaria'
            example:
              dailyArtEnabled: true
      responses:
        '200':
          description: Preferencias actualizadas exitosamente
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
              example:
                success: true
        '400':
          description: Datos inválidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: No autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/sync/categories:
    get:
      tags:
        - Explore
      summary: Obtener todas las categorías con jerarquía y traducciones
      description: |
        Retorna el catálogo completo de categorías de arte con su estructura jerárquica.

        **Estructura de jerarquía:**
        - 3 categorías principales: Pintura, Escultura, Arquitectura y Monumentos
        - 14 subcategorías (períodos artísticos): Antigüedad, Renacimiento, Barroco, etc.
        - Cada subcategoría pertenece a las 3 categorías principales (42 relaciones totales)

        **Uso en la app:**
        - Sincronización inicial al instalar la app o login
        - Actualización periódica en background sync
        - Filtrado en pantalla Explore por categoría/subcategoría
        - Navegación jerárquica: Category → Subcategory → Artworks

        **Sync incremental:**
        - Usar campo `updatedAt` para detectar cambios
        - Cachear localmente en SQLite para acceso offline
        - Las traducciones se sirven según el parámetro `language`
      parameters:
        - in: query
          name: language
          required: false
          schema:
            type: string
            enum: [es, en]
            default: 'es'
          description: |
            Código ISO 639-1 del idioma para las traducciones de nombres de categorías.
            Si no existe traducción para el idioma solicitado, se devuelve español por defecto.
      responses:
        '200':
          description: Lista completa de categorías con relaciones
          content:
            application/json:
              schema:
                type: object
                properties:
                  categories:
                    type: array
                    items:
                      $ref: '#/components/schemas/CategoryWithRelations'
                    description: 'Array con todas las categorías (principales y subcategorías)'
                  updatedAt:
                    type: string
                    format: date-time
                    description: 'Timestamp de la última actualización del catálogo (para sync incremental)'
                    example: '2025-12-04T10:30:00Z'
              examples:
                complete_hierarchy:
                  summary: Ejemplo completo con jerarquía de categorías
                  value:
                    categories:
                      - id: 'pintura'
                        name: 'Pintura'
                        type: 'category'
                        icon: '🎨'
                        imageUrl: null
                        sortOrder: 1
                        parentIds: []
                        childIds:
                          - 'antiguedad-romana-griega'
                          - 'arte-medieval-romanico'
                          - 'arte-medieval-gotico'
                          - 'renacimiento'
                          - 'manierismo'
                          - 'barroco'
                          - 'rococo'
                          - 'neoclasicismo'
                          - 'romanticismo'
                          - 'realismo'
                          - 'impresionismo-postimpresionismo'
                          - 'modernismo'
                          - 'vanguardias'
                          - 'arte-moderno-contemporaneo'
                        updatedAt: '2025-12-04T10:00:00Z'
                      - id: 'escultura'
                        name: 'Escultura'
                        type: 'category'
                        icon: '🗿'
                        imageUrl: null
                        sortOrder: 2
                        parentIds: []
                        childIds:
                          - 'antiguedad-romana-griega'
                          - 'arte-medieval-romanico'
                          - 'arte-medieval-gotico'
                          - 'renacimiento'
                          - 'manierismo'
                          - 'barroco'
                          - 'rococo'
                          - 'neoclasicismo'
                          - 'romanticismo'
                          - 'realismo'
                          - 'impresionismo-postimpresionismo'
                          - 'modernismo'
                          - 'vanguardias'
                          - 'arte-moderno-contemporaneo'
                        updatedAt: '2025-12-04T10:00:00Z'
                      - id: 'arquitectura-monumentos'
                        name: 'Arquitectura y Monumentos'
                        type: 'category'
                        icon: '🏛️'
                        imageUrl: null
                        sortOrder: 3
                        parentIds: []
                        childIds:
                          - 'antiguedad-romana-griega'
                          - 'arte-medieval-romanico'
                          - 'arte-medieval-gotico'
                          - 'renacimiento'
                          - 'manierismo'
                          - 'barroco'
                          - 'rococo'
                          - 'neoclasicismo'
                          - 'romanticismo'
                          - 'realismo'
                          - 'impresionismo-postimpresionismo'
                          - 'modernismo'
                          - 'vanguardias'
                          - 'arte-moderno-contemporaneo'
                        updatedAt: '2025-12-04T10:00:00Z'
                      - id: 'renacimiento'
                        name: 'Renacimiento'
                        type: 'subcategory'
                        icon: '🎭'
                        imageUrl: null
                        sortOrder: 4
                        parentIds:
                          - 'pintura'
                          - 'escultura'
                          - 'arquitectura-monumentos'
                        childIds: []
                        updatedAt: '2025-12-04T10:00:00Z'
                      - id: 'barroco'
                        name: 'Barroco'
                        type: 'subcategory'
                        icon: '👑'
                        imageUrl: null
                        sortOrder: 6
                        parentIds:
                          - 'pintura'
                          - 'escultura'
                          - 'arquitectura-monumentos'
                        childIds: []
                        updatedAt: '2025-12-04T10:00:00Z'
                      - id: 'impresionismo-postimpresionismo'
                        name: 'Impresionismo y Post-Impresionismo'
                        type: 'subcategory'
                        icon: '🌈'
                        imageUrl: null
                        sortOrder: 11
                        parentIds:
                          - 'pintura'
                          - 'escultura'
                          - 'arquitectura-monumentos'
                        childIds: []
                        updatedAt: '2025-12-04T10:00:00Z'
                    updatedAt: '2025-12-04T10:30:00Z'
        '500':
          description: Error interno del servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error: 'internal_server_error'
                message: 'Failed to retrieve categories from database'
  /api/sync/user/artworks:
    get:
      tags:
        - Sync
      summary: Sincronizar colección de artworks del usuario
      description: |
        Retorna todos los artworks identificados por el usuario para sincronización con SQLite local.

        **Uso en la app:**
        - Sincronización completa al login o instalación inicial
        - Sincronización incremental en background sync cada 15 minutos
        - Cacheo local en tabla `user_artworks` para acceso offline
        - El backend es la fuente de verdad para la colección del usuario

        **Sync incremental:**
        - Usar campo `updatedAt` para detectar cambios desde última sincronización
        - Los artworks eliminados en el servidor no aparecerán en la respuesta
        - Cliente debe comparar IDs locales vs respuesta para detectar eliminaciones

        **Nota sobre imágenes:**
        - El endpoint retorna el campo `localUri` con el path local de la imagen en el dispositivo
        - El servidor mantiene sincronizado este path para cada usuario
        - El path sigue el formato: `file:///data/user/0/.../artworks/{userId}/timestamp_capture.jpg`
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: language
          required: false
          schema:
            type: string
            enum: [es, en]
            default: 'es'
          description: |
            Código ISO 639-1 del idioma para las traducciones de descripciones y metadatos.
            Si no existe traducción para el idioma solicitado, se devuelve español por defecto.
        - in: query
          name: updatedAfter
          required: false
          schema:
            type: string
            format: date-time
            example: '2025-12-10T10:00:00Z'
          description: |
            Filtro opcional para sincronización incremental.
            Retorna solo artworks modificados después de esta fecha.
            Si no se proporciona, retorna toda la colección del usuario.
      responses:
        '200':
          description: Array de artworks del usuario para sincronización
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required:
                    - id
                    - userId
                    - title
                    - author
                    - identifiedAt
                    - updatedAt
                  properties:
                    id:
                      $ref: '#/components/schemas/UUID'
                      description: 'UUID único del artwork en la colección del usuario'
                    userId:
                      $ref: '#/components/schemas/UUID'
                      description: 'UUID del usuario propietario'
                    artworkId:
                      $ref: '#/components/schemas/UUID'
                      nullable: true
                      description: 'ID del artwork en el catálogo maestro (null si es custom/no catalogado)'
                    title:
                      type: string
                      example: 'Las Meninas'
                      description: 'Título de la obra'
                    author:
                      type: string
                      example: 'Diego Velázquez'
                      description: 'Autor/artista de la obra'
                    year:
                      type: string
                      nullable: true
                      example: '1656'
                      description: 'Año de creación'
                    period:
                      type: string
                      nullable: true
                      example: 'Barroco Español'
                      description: 'Período artístico o movimiento'
                    technique:
                      type: string
                      nullable: true
                      example: 'Óleo sobre lienzo'
                      description: 'Técnica utilizada'
                    dimensions:
                      type: string
                      nullable: true
                      example: '318 cm × 276 cm'
                      description: 'Dimensiones de la obra'
                    country:
                      type: string
                      nullable: true
                      example: 'España'
                      description: 'País de origen o ubicación'
                    description:
                      type: string
                      nullable: true
                      example: 'Una de las obras maestras del Siglo de Oro español...'
                      description: 'Descripción detallada localizada según parámetro language'
                    localUri:
                      type: string
                      nullable: true
                      example: 'file:///data/user/0/com.travelai.app/files/artworks/user123/1702389845123_capture.jpg'
                      description: 'Path local de la imagen capturada en el dispositivo del usuario'
                    identifiedAt:
                      type: string
                      format: date-time
                      example: '2025-12-10T14:30:00Z'
                      description: 'Fecha en que el usuario identificó/agregó esta obra'
                    createdAt:
                      type: string
                      format: date-time
                      example: '2025-12-10T14:30:00Z'
                      description: 'Fecha de creación del registro'
                    updatedAt:
                      type: string
                      format: date-time
                      example: '2025-12-10T14:35:00Z'
                      description: 'Fecha de última actualización (para sync incremental)'
              examples:
                full_sync:
                  summary: Sincronización completa (primera vez o sin updatedAfter)
                  value:
                    - id: '550e8400-e29b-41d4-a716-446655440000'
                      userId: '123e4567-e89b-12d3-a456-426614174000'
                      artworkId: 'a1b2c3d4-e5f6-4789-a012-3456789abcde'
                      title: 'Las Meninas'
                      author: 'Diego Velázquez'
                      year: '1656'
                      period: 'Barroco Español'
                      technique: 'Óleo sobre lienzo'
                      dimensions: '318 cm × 276 cm'
                      country: 'España'
                      description: 'Una de las obras maestras del Siglo de Oro español. Muestra a la Infanta Margarita rodeada de sus damas de compañía (meninas) y otros miembros de la corte, incluido el propio pintor. La compleja composición con múltiples puntos de vista, el uso magistral de la luz, y el espejo que refleja al rey Felipe IV y la reina Mariana de Austria, desafían la percepción del espacio y la realidad.'
                      localUri: 'file:///data/user/0/com.travelai.app/files/artworks/123e4567-e89b-12d3-a456-426614174000/1702389845123_capture.jpg'
                      identifiedAt: '2025-12-10T14:30:00Z'
                      createdAt: '2025-12-10T14:30:00Z'
                      updatedAt: '2025-12-10T14:30:00Z'
                    - id: '660e8400-e29b-41d4-a716-446655440001'
                      userId: '123e4567-e89b-12d3-a456-426614174000'
                      artworkId: 'b2c3d4e5-f6a7-5890-b123-456789abcdef'
                      title: 'La persistencia de la memoria'
                      author: 'Salvador Dalí'
                      year: '1931'
                      period: 'Surrealismo'
                      technique: 'Óleo sobre lienzo'
                      dimensions: '24 cm × 33 cm'
                      country: 'España'
                      description: 'Pintura surrealista icónica que presenta relojes blandos derritiéndose en un paisaje onírico. La obra explora conceptos de tiempo, memoria y realidad a través de la imaginería surrealista característica de Dalí.'
                      localUri: 'file:///data/user/0/com.travelai.app/files/artworks/123e4567-e89b-12d3-a456-426614174000/1702308915456_capture.jpg'
                      identifiedAt: '2025-12-09T10:15:00Z'
                      createdAt: '2025-12-09T10:15:00Z'
                      updatedAt: '2025-12-09T10:15:00Z'
                incremental_sync:
                  summary: Sincronización incremental (con updatedAfter)
                  value:
                    - id: '660e8400-e29b-41d4-a716-446655440001'
                      userId: '123e4567-e89b-12d3-a456-426614174000'
                      artworkId: 'b2c3d4e5-f6a7-5890-b123-456789abcdef'
                      title: 'La persistencia de la memoria'
                      author: 'Salvador Dalí'
                      year: '1931'
                      period: 'Surrealismo'
                      technique: 'Óleo sobre lienzo'
                      dimensions: '24 cm × 33 cm'
                      country: 'España'
                      description: 'Descripción actualizada con más detalles...'
                      localUri: 'file:///data/user/0/com.travelai.app/files/artworks/123e4567-e89b-12d3-a456-426614174000/1702308915456_capture.jpg'
                      identifiedAt: '2025-12-09T10:15:00Z'
                      createdAt: '2025-12-09T10:15:00Z'
                      updatedAt: '2025-12-10T14:35:00Z'
                empty_collection:
                  summary: Usuario sin artworks en su colección
                  value: []
        '401':
          description: No autenticado - token JWT inválido o faltante
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error: 'unauthorized'
                message: 'Valid authentication token required'
        '500':
          description: Error interno del servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error: 'internal_server_error'
                message: 'Failed to retrieve user artworks from database'
  # ----------------------------
  # WEBHOOKS
  # ----------------------------
  /api/webhooks/supabase/user-created:
    post:
      tags:
        - Webhooks
      summary: Webhook para sincronizar usuarios de Supabase Auth
      description: |
        Endpoint llamado automáticamente por Supabase cuando se crea un nuevo usuario.
        Sincroniza el usuario de Supabase Auth con la tabla local de usuarios en Postgres.

        **Configuración en Supabase:**
        1. Dashboard → Authentication → Webhooks
        2. Crear webhook para evento "User Created" (INSERT on auth.users)
        3. URL: https://api.artexplorer.com/api/webhooks/supabase/user-created
        4. Agregar header: x-webhook-secret con el valor de SUPABASE_WEBHOOK_SECRET

        **Comportamiento:**
        - Crea usuario en tabla local con el mismo UUID de Supabase Auth
        - Extrae email y metadata del perfil (displayName, avatarUrl, language)
        - Es idempotente: llamadas duplicadas son seguras
        - Valida secret para prevenir acceso no autorizado
      security:
        - webhookSecret: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SupabaseWebhookPayload'
            examples:
              user_created:
                summary: Usuario creado con metadata completa (email signup)
                value:
                  type: 'INSERT'
                  table: 'users'
                  record:
                    id: '550e8400-e29b-41d4-a716-446655440000'
                    email: 'john.doe@example.com'
                    raw_user_meta_data:
                      displayName: 'John Doe'
                      avatarUrl: 'https://example.com/avatar.jpg'
                      language: 'es'
                    created_at: '2025-12-01T20:00:00Z'
                  schema: 'auth'
                  old_record: null
              user_created_anonymous:
                summary: Usuario anónimo (free trial) creado desde dispositivo
                value:
                  type: 'INSERT'
                  table: 'users'
                  record:
                    id: '650e8400-e29b-41d4-a716-446655440001'
                    email: 'device-abc123@freetrial.travelai.app'
                    raw_user_meta_data:
                      user_type: 'free_trial'
                      device_id: 'abc123-device-uuid'
                      platform: 'ios'
                      is_anonymous: true
                      language: 'en'
                      created_at: '2025-12-03T10:00:00Z'
                    created_at: '2025-12-03T10:00:00Z'
                  schema: 'auth'
                  old_record: null
              user_created_minimal:
                summary: Usuario creado sin metadata opcional (OAuth fallback)
                value:
                  type: 'INSERT'
                  table: 'users'
                  record:
                    id: '550e8400-e29b-41d4-a716-446655440000'
                    email: 'jane.doe@example.com'
                    raw_user_meta_data: null
                    created_at: '2025-12-01T20:00:00Z'
                  schema: 'auth'
                  old_record: null
      responses:
        '200':
          description: Usuario sincronizado exitosamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookSuccessResponse'
              example:
                success: true
                message: 'User created successfully'
                userId: '550e8400-e29b-41d4-a716-446655440000'
        '400':
          description: Payload inválido o datos faltantes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error: 'invalid_payload'
                message: 'Missing required field: record.id'
        '401':
          description: Webhook secret inválido o faltante
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error: 'unauthorized'
                message: 'Invalid or missing webhook secret'
        '500':
          description: Error interno al crear usuario en base de datos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error: 'internal_server_error'
                message: 'Failed to create user in database'

  # ----------------------------
  # PAYMENTS & SUBSCRIPTIONS
  # ----------------------------

  /api/payments/create-intent:
    post:
      tags:
        - Payments
      summary: Crear Payment Intent para Travel Pass
      description: |
        Crea un Stripe Payment Intent para la compra única del Travel Pass.

        **Detalles del Travel Pass:**
        - Precio: €4.99 (pago único)
        - Duración: 7 días de acceso premium
        - Sin renovación automática

        **Flujo de Pago:**
        1. Cliente llama a este endpoint para crear Payment Intent
        2. Backend retorna credenciales para Stripe Payment Sheet
        3. Cliente inicializa Stripe SDK con credenciales retornadas
        4. Usuario completa el pago en Stripe Payment Sheet
        5. Webhook procesa la confirmación del pago
        6. Usuario obtiene 7 días de acceso premium

        **Reglas de Negocio:**
        - Usuario no puede tener suscripción o travel pass activo existente
        - Bloquea compras duplicadas mientras el usuario tiene premium activo
        - Crea o recupera cliente de Stripe automáticamente
        - Confirmación de pago manejada vía webhook (payment_intent.succeeded)

        **Rate Limiting:**
        - Se aplican límites estándar de la API
        - Considerar implementar rate limiting adicional para endpoints de pago
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePaymentIntentRequest'
            examples:
              travel_pass:
                summary: Crear payment intent de Travel Pass
                value:
                  planId: 'travel_pass'
                  currency: 'eur'
      responses:
        '200':
          description: Payment Intent creado exitosamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentSheetResponse'
              example:
                paymentIntent: 'pi_3QLxyz123_secret_xyz789abc'
                ephemeralKey: 'ek_test_YWJjZGVm'
                customer: 'cus_QtPxyz123ABC'
                publishableKey: 'pk_test_51xyz...'
        '400':
          description: Usuario ya tiene premium activo o solicitud inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                already_premium:
                  summary: Usuario ya tiene suscripción o travel pass activo
                  value:
                    success: false
                    error: 'bad_request'
                    message: 'Ya tienes una suscripción o pase activo. Solo puedes tener una suscripción activa a la vez.'
                invalid_plan:
                  summary: PlanId inválido proporcionado
                  value:
                    success: false
                    error: 'validation_error'
                    message: 'planId must be travel_pass for payment intents'
        '401':
          description: No autenticado - token JWT faltante o inválido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error: 'unauthorized'
                message: 'Valid authentication token required'
        '500':
          description: Error interno del servidor - fallo en API de Stripe o base de datos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error: 'internal_server_error'
                message: 'Failed to create payment intent'

  /api/payments/setup-intent:
    post:
      tags:
        - Payments
      summary: Crear SetupIntent para Suscripción (Paso 1 de 2)
      description: |
        Crea un Stripe SetupIntent para recolectar método de pago sin cobrar al usuario.
        Este es el **Paso 1** del flujo de suscripción en 2 pasos.

        **Precios de Suscripción:**
        - Plan Mensual: €8.99/mes (recurrente)
        - Plan Anual: €59.99/año (recurrente)

        **Flujo de Suscripción en 2 Pasos:**

        **Paso 1 (este endpoint)**: Recolectar método de pago
        1. Cliente llama a este endpoint con el plan deseado
        2. Backend crea SetupIntent (sin cobro)
        3. Cliente inicializa Stripe SetupIntent Sheet
        4. Usuario ingresa detalles de la tarjeta
        5. Stripe guarda el método de pago
        6. Cliente recibe setupIntentId

        **Paso 2**: Crear suscripción con método de pago guardado
        - Cliente llama a `/api/payments/create-subscription-with-payment-method`
        - Backend crea suscripción con cobro inmediato
        - Usuario obtiene acceso premium

        **Reglas de Negocio:**
        - Usuario no puede tener suscripción o travel pass activo existente
        - SetupIntent solo guarda método de pago - NO cobra
        - Método de pago puede usarse después para crear suscripción
        - SetupIntent tiene usage='off_session' para cobros recurrentes

        **Por qué Flujo en 2 Pasos:**
        - Cumple con requisitos de Strong Customer Authentication (SCA)
        - Permite al usuario revisar detalles de suscripción antes del cobro
        - Proporciona mejor manejo de errores para validación de método de pago
        - Habilita creación fluida de suscripción después de confirmación
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSetupIntentRequest'
            examples:
              monthly_plan:
                summary: Configurar método de pago para suscripción mensual
                value:
                  planId: 'monthly'
              annual_plan:
                summary: Configurar método de pago para suscripción anual
                value:
                  planId: 'annual'
      responses:
        '200':
          description: SetupIntent creado exitosamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SetupIntentResponse'
              example:
                setupIntent: 'seti_1QLxyz123_secret_abc789xyz'
                ephemeralKey: 'ek_test_YWJjZGVm'
                customer: 'cus_QtPxyz123ABC'
                publishableKey: 'pk_test_51xyz...'
        '400':
          description: Usuario ya tiene premium activo o solicitud inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                already_premium:
                  summary: Usuario ya tiene suscripción o travel pass activo
                  value:
                    success: false
                    error: 'bad_request'
                    message: 'Ya tienes una suscripción o pase activo. Solo puedes tener una suscripción activa a la vez.'
                invalid_plan:
                  summary: PlanId inválido proporcionado
                  value:
                    success: false
                    error: 'validation_error'
                    message: "planId must be 'monthly' or 'annual'"
        '401':
          description: No autenticado - token JWT faltante o inválido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error: 'unauthorized'
                message: 'Valid authentication token required'
        '500':
          description: Error interno del servidor - fallo en API de Stripe o base de datos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error: 'internal_server_error'
                message: 'Failed to create setup intent'

  /api/payments/create-subscription-with-payment-method:
    post:
      tags:
        - Payments
      summary: Crear Suscripción con Método de Pago (Paso 2 de 2)
      description: |
        Crea una Suscripción de Stripe usando un método de pago guardado.
        Este es el **Paso 2** del flujo de suscripción en 2 pasos.

        **Prerequisitos:**
        - Usuario debe haber completado Paso 1 (POST /api/payments/setup-intent)
        - SetupIntent debe estar en estado 'succeeded'
        - Usuario no debe tener suscripción activa existente

        **Resolución de Método de Pago:**
        1. **Con setupIntentId** (recomendado): Extrae método de pago del SetupIntent completado
        2. **Sin setupIntentId**: Usa método de pago por defecto del cliente o primera tarjeta adjunta

        **Precios de Suscripción:**
        - Plan Mensual: €8.99/mes (cobrado inmediatamente, luego recurrente mensual)
        - Plan Anual: €59.99/año (cobrado inmediatamente, luego recurrente anual)

        **Lógica de Negocio:**
        1. Valida que usuario no tenga suscripción activa
        2. Recupera/valida método de pago
        3. Mapea planId a Stripe Price ID desde configuración de entorno
        4. Crea Suscripción de Stripe (cobro inmediato)
        5. Almacena suscripción en base de datos
        6. Actualiza user.isPremium = true (si suscripción activa)
        7. Retorna detalles de suscripción

        **Webhooks:**
        - `customer.subscription.created`: Confirma creación de suscripción
        - `invoice.paid`: Confirma pago inicial y renovaciones futuras
        - `invoice.payment_failed`: Maneja pagos fallidos

        **Ciclo de Vida de Suscripción:**
        - Active: Usuario tiene acceso premium
        - Past Due: Pago falló, período de gracia activo
        - Canceled: Usuario o sistema canceló suscripción
        - Expired: Suscripción terminó (sin renovación)
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSubscriptionRequest'
            examples:
              with_setup_intent:
                summary: Crear suscripción con SetupIntent (recomendado)
                value:
                  planId: 'monthly'
                  setupIntentId: 'seti_1QLxyz123abc'
              without_setup_intent:
                summary: Crear suscripción con método de pago por defecto del cliente
                value:
                  planId: 'annual'
      responses:
        '200':
          description: Suscripción creada exitosamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionCreatedResponse'
              examples:
                active_subscription:
                  summary: Suscripción creada y activa
                  value:
                    subscriptionId: 'sub_1QLxyzABC123'
                    status: 'active'
                    currentPeriodEnd: '2026-01-15T14:30:00.000Z'
                incomplete_subscription:
                  summary: Suscripción creada pero pago pendiente
                  value:
                    subscriptionId: 'sub_1QLxyzABC456'
                    status: 'incomplete'
                    currentPeriodEnd: '2026-01-15T14:30:00.000Z'
        '400':
          description: Solicitud inválida o violación de regla de negocio
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                already_subscribed:
[...]
