openapi: 3.0.3
info:
  title: Art Explorer API
  description: API para la aplicación de exploración de arte, gestión de colecciones de usuarios y catálogo de obras.
  version: 1.0.0
servers:
  - url: https://api.artexplorer.com
    description: Servidor de Producción

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

    webhookSecret:
      type: apiKey
      in: header
      name: x-webhook-secret
      description: Secret key for validating Supabase webhook requests

  schemas:
    # --- Common Types ---
    UUID:
      type: string
      format: uuid
      example: '550e8400-e29b-41d4-a716-446655440000'

    CategoryObject:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        icon:
          type: string

    CategoryWithRelations:
      type: object
      description: 'Categoría con su jerarquía de relaciones (padres e hijos)'
      required:
        - id
        - name
        - type
        - icon
        - sortOrder
        - parentIds
        - childIds
        - updatedAt
      properties:
        id:
          type: string
          example: 'pintura'
          description: 'ID único de la categoría'
        name:
          type: string
          description: 'Nombre localizado de la categoría según el parámetro language'
          example: 'Pintura'
        type:
          type: string
          enum: [category, subcategory]
          example: 'category'
          description: "Tipo de categoría: 'category' (principal) o 'subcategory' (período artístico)"
        icon:
          type: string
          description: 'Emoji que representa la categoría'
          example: '🎨'
        imageUrl:
          type: string
          nullable: true
          description: 'URL opcional de imagen representativa'
          example: null
        sortOrder:
          type: integer
          example: 1
          description: 'Orden de visualización (menor = primero)'
        parentIds:
          type: array
          items:
            type: string
          description: 'IDs de las categorías padre (vacío para categorías principales)'
          example: []
        childIds:
          type: array
          items:
            type: string
          description: 'IDs de las subcategorías hijas (vacío para subcategorías)'
          example:
            [
              'antiguedad-romana-griega',
              'renacimiento',
              'barroco',
              'impresionismo-postimpresionismo',
            ]
        updatedAt:
          type: string
          format: date-time
          example: '2025-12-04T10:30:00Z'
          description: 'Última actualización para sincronización incremental'

    # --- Home Screen ---
    Quote:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        text:
          type: string
          example: 'El arte es la mentira que nos permite conocer la verdad'
        author:
          type: string
          example: 'Pablo Picasso'

    # --- Explore/Locations ---
    LocationSpot:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        description:
          type: string
        category:
          type: string
        distance:
          type: integer
          description: Distancia en metros
        estimatedTime:
          type: string

    # --- Artworks (Catalog) ---
    Artwork:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        title:
          type: string
        author:
          type: string
        year:
          type: string
        country:
          type: string
        period:
          type: string
        technique:
          type: string
        dimensions:
          type: string
        imageUrl:
          type: string
          format: uri
        description:
          type: string
        category:
          $ref: '#/components/schemas/CategoryObject'
        subcategory:
          $ref: '#/components/schemas/CategoryObject'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    # --- User Collection ---
    UserIdentifiedArtwork:
      allOf:
        - $ref: '#/components/schemas/Artwork'
        - type: object
          properties:
            capturedImageUrl:
              type: string
              format: uri
            identifiedAt:
              type: string
              format: date-time

    IdentifyArtworkRequest:
      type: object
      required:
        - capturedImageUrl
        - country
        - category_id
        - subcategory_id
        - title
        - author
        - image_url
      properties:
        capturedImageUrl:
          type: string
          format: uri
        country:
          type: string
        category_id:
          type: string
        subcategory_id:
          type: string
        title:
          type: string
        author:
          type: string
        year:
          type: string
        dimensions:
          type: string
        technique:
          type: string
        image_url:
          type: string # URL de referencia (no la capturada)

    CollectionStats:
      type: object
      properties:
        totalArtworks:
          type: integer
        totalArtists:
          type: integer

    CollectionSummary:
      type: object
      properties:
        stats:
          $ref: '#/components/schemas/CollectionStats'
        artistsInCollection:
          type: array
          items:
            type: object
            properties:
              artist:
                type: string
              artworkCount:
                type: integer
        countriesInCollection:
          type: array
          items:
            type: object
            properties:
              country:
                type: string
              artworkCount:
                type: integer

    # --- Camera Recognition ---
    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: string
          example: 'Invalid image format'
        message:
          type: string
          example: 'The uploaded file must be a valid JPG, PNG, or HEIC image'

    RecognizeArtworkRequest:
      type: object
      required:
        - image
        - localUri
      properties:
        image:
          type: string
          format: binary
          description: 'Imagen capturada del monumento u obra de arte (JPG, PNG, HEIC - máximo 10MB)'
        localUri:
          type: string
          description: 'URI local del dispositivo donde se guardó la imagen (file:// o content://)'
          example: 'file:///storage/emulated/0/DCIM/Camera/IMG_20241209_153045.jpg'

    RecognizedArtworkData:
      type: object
      description: 'Datos de la obra identificada - null si no se pudo identificar'
      nullable: true
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        title:
          type: string
          example: 'Las Meninas'
        artist:
          type: string
          example: 'Diego Velázquez'
        year:
          type: string
          example: '1656'
        period:
          type: string
          example: 'Spanish Baroque'
          description: 'Período artístico o movimiento'
        description:
          type: string
          example: 'One of the masterpieces of the Spanish Golden Age. It shows Infanta Margaret surrounded by her ladies-in-waiting (meninas) and other members of the court, including the painter himself. The complex composition with multiple viewpoints, the masterful use of light, and the mirror reflecting King Philip IV and Queen Mariana of Austria, challenge the perception of space and reality.'
        confidence:
          type: number
          format: float
          minimum: 0
          maximum: 1
          example: 0.98
          description: 'Nivel de confianza del reconocimiento (0.0 - 1.0)'
        tags:
          type: array
          items:
            type: string
          example:
            [
              'Spanish Baroque',
              'Court Portrait',
              'Oil on Canvas',
              '17th Century',
              'Prado Museum',
            ]
          description: 'Categorías, estilos y metadata adicional'
        capturedImageUrl:
          type: string
          example: 'file:///storage/emulated/0/DCIM/Camera/IMG_20241209_153045.jpg'
          description: 'URI local del dispositivo donde se encuentra la imagen capturada'
        identifiedAt:
          type: string
          format: date-time
          example: '2025-11-30T14:30:00Z'

    RecognizedArtworkResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
          description: 'Indica si la operación fue exitosa a nivel técnico'
        identified:
          type: boolean
          example: true
          description: 'Indica si la obra fue identificada por la IA (true) o no se pudo reconocer (false)'
        artwork:
          $ref: '#/components/schemas/RecognizedArtworkData'
        savedToCollection:
          type: boolean
          example: true
          description: 'Indica si la obra se guardó en la colección del usuario (solo true si identified=true)'
        message:
          type: string
          example: 'Artwork successfully identified and saved to collection'
          description: 'Mensaje descriptivo del resultado para el usuario'

    # --- Users ---
    User:
      type: object
      description: 'Datos del perfil del usuario'
      required:
        - id
        - email
        - preferred_language
        - is_premium
        - created_at
      properties:
        id:
          $ref: '#/components/schemas/UUID'
          description: 'UUID del usuario (mismo que en Supabase Auth)'
        email:
          type: string
          format: email
          example: 'user@example.com'
        display_name:
          type: string
          example: 'John Doe'
          nullable: true
          description: 'Nombre visible del usuario'
        avatar_url:
          type: string
          format: uri
          example: 'https://example.com/avatar.jpg'
          nullable: true
          description: 'URL de la foto de perfil'
        preferred_language:
          type: string
          enum: [es, en]
          example: 'es'
          description: 'Idioma preferido del usuario (detectado automáticamente al registrarse)'
        is_premium:
          type: boolean
          example: false
          description: 'Indica si el usuario tiene suscripción premium activa'
        created_at:
          type: string
          format: date-time
          example: '2025-12-01T20:00:00Z'
          description: 'Fecha de creación de la cuenta'

    UpdateUserRequest:
      type: object
      description: 'Datos para actualizar el perfil del usuario'
      properties:
        display_name:
          type: string
          example: 'Jane Smith'
          nullable: true
        avatar_url:
          type: string
          format: uri
          example: 'https://example.com/new-avatar.jpg'
          nullable: true
        preferred_language:
          type: string
          enum: [es, en]
          example: 'en'
          description: 'Cambiar idioma preferido del usuario'

    # --- Webhooks ---
    SupabaseWebhookPayload:
      type: object
      description: 'Payload enviado por Supabase cuando se crea un nuevo usuario'
      required:
        - type
        - table
        - record
        - schema
      properties:
        type:
          type: string
          enum: [INSERT, UPDATE, DELETE]
          example: 'INSERT'
          description: 'Tipo de evento de base de datos'
        table:
          type: string
          example: 'users'
          description: 'Nombre de la tabla afectada'
        record:
          type: object
          description: 'Datos del usuario creado en Supabase Auth'
          required:
            - id
            - email
          properties:
            id:
              $ref: '#/components/schemas/UUID'
              description: 'UUID del usuario en Supabase Auth (usarlo como PK en tabla local)'
            email:
              type: string
              format: email
              example: 'user@example.com'
            raw_user_meta_data:
              type: object
              description: 'Metadata adicional del perfil del usuario'
              properties:
                displayName:
                  type: string
                  example: 'John Doe'
                  nullable: true
                avatarUrl:
                  type: string
                  format: uri
                  example: 'https://example.com/avatar.jpg'
                  nullable: true
                language:
                  type: string
                  enum: [es, en]
                  example: 'es'
                  description: 'Idioma detectado del dispositivo al momento del registro'
                  nullable: false
            created_at:
              type: string
              format: date-time
              example: '2025-12-01T20:00:00Z'
        schema:
          type: string
          example: 'auth'
          description: "Schema de la base de datos (siempre 'auth' para usuarios de Supabase)"
        old_record:
          type: object
          nullable: true
          description: 'Registro anterior (null para INSERT events)'

    WebhookSuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: 'User created successfully'
        userId:
          $ref: '#/components/schemas/UUID'

paths:
  # ----------------------------
  # HOME SCREEN
  # ----------------------------
  /api/home/quotes:
    get:
      tags:
        - Home
      summary: Obtener citas de artistas
      parameters:
        - in: query
          name: language
          schema:
            type: string
            default: 'es'
          description: Código ISO 639-1 (es, en, fr)
      responses:
        '200':
          description: Lista de citas
          content:
            application/json:
              schema:
                type: object
                properties:
                  quotes:
                    type: array
                    items:
                      $ref: '#/components/schemas/Quote'

  # ----------------------------
  # CAMERA RECOGNITION
  # ----------------------------
  /api/camera/recognize:
    post:
      tags:
        - Camera Recognition
      summary: Reconocer monumento u obra de arte desde imagen capturada
      description: |
        Recibe una imagen capturada por el usuario, la procesa mediante IA para identificar
        el monumento u obra de arte, y automáticamente la guarda en la colección del usuario
        si es reconocida exitosamente.

        **Flujo:**
        1. Usuario captura foto desde la cámara y la guarda localmente en el dispositivo
        2. Frontend envía imagen (para análisis) y localUri (para almacenamiento) como multipart/form-data
        3. Backend procesa imagen con IA y busca coincidencias
        4. Si identifica: guarda localUri en colección y retorna datos completos
        5. Si no identifica: retorna identified=false con mensaje descriptivo

        **Limitaciones:**
        - Tamaño máximo: 10MB
        - Formatos soportados: JPG, PNG, HEIC
        - Rate limiting aplicado según tier de suscripción del usuario
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: language
          schema:
            type: string
            pattern: '^[a-z]{2}$'
            default: 'es'
          description: Código ISO 639-1 del idioma (es, en, fr) para los resultados
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RecognizeArtworkRequest'
            encoding:
              image:
                contentType: image/jpeg, image/png, image/heic
      responses:
        '200':
          description: |
            Operación exitosa - puede indicar obra identificada (identified=true)
            o no identificada (identified=false)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecognizedArtworkResponse'
              examples:
                identified:
                  summary: Obra identificada exitosamente
                  value:
                    success: true
                    identified: true
                    artwork:
                      id: '550e8400-e29b-41d4-a716-446655440000'
                      title: 'Las Meninas'
                      artist: 'Diego Velázquez'
                      year: '1656'
                      period: 'Spanish Baroque'
                      description: 'One of the masterpieces of the Spanish Golden Age. It shows Infanta Margaret surrounded by her ladies-in-waiting (meninas) and other members of the court, including the painter himself. The complex composition with multiple viewpoints, the masterful use of light, and the mirror reflecting King Philip IV and Queen Mariana of Austria, challenge the perception of space and reality.'
                      confidence: 0.98
                      tags:
                        [
                          'Spanish Baroque',
                          'Court Portrait',
                          'Oil on Canvas',
                          '17th Century',
                          'Prado Museum',
                        ]
                      capturedImageUrl: 'https://storage.artexplorer.com/captures/user123/abc123.jpg'
                      identifiedAt: '2025-11-30T14:30:00Z'
                    savedToCollection: true
                    message: 'Artwork successfully identified and saved to collection'
                not_identified:
                  summary: Obra no pudo ser identificada
                  value:
                    success: true
                    identified: false
                    artwork: null
                    savedToCollection: false
                    message: 'Artwork could not be identified. Try with better lighting or a different angle.'
        '400':
          description: Solicitud inválida - imagen corrupta, formato no soportado, etc.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                invalid_format:
                  summary: Formato de imagen no válido
                  value:
                    success: false
                    error: 'invalid_image_format'
                    message: 'The uploaded file must be a valid JPG, PNG, or HEIC image'
                missing_image:
                  summary: Falta el campo image
                  value:
                    success: false
                    error: 'missing_required_field'
                    message: "The 'image' field is required"
        '401':
          description: No autenticado - token JWT inválido o faltante
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error: 'unauthorized'
                message: 'Valid authentication token required'
        '413':
          description: Payload demasiado grande - imagen excede 10MB
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error: 'payload_too_large'
                message: 'Image file size must not exceed 10MB'
        '429':
          description: Demasiadas solicitudes - rate limit excedido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error: 'rate_limit_exceeded'
                message: 'Recognition limit reached. Upgrade to premium for unlimited scans.'
        '500':
          description: Error interno del servidor - fallo en procesamiento IA o base de datos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error: 'internal_server_error'
                message: 'An unexpected error occurred while processing the image. Please try again.'

  # ----------------------------
  # EXPLORE SCREEN
  # ----------------------------

  /api/explore/locations/nearby:
    get:
      tags:
        - Explore
      summary: Obtener lugares culturales cercanos
      parameters:
        - in: query
          name: latitude
          required: true
          schema:
            type: number
            format: float
        - in: query
          name: longitude
          required: true
          schema:
            type: number
            format: float
        - in: query
          name: maxDistance
          schema:
            type: integer
            default: 5000
        - in: query
          name: language
          schema:
            type: string
            default: 'es'
        - in: query
          name: limit
          schema:
            type: integer
            default: 10
      responses:
        '200':
          description: Lista de lugares cercanos
          content:
            application/json:
              schema:
                type: object
                properties:
                  locations:
                    type: array
                    items:
                      $ref: '#/components/schemas/LocationSpot'
                  count:
                    type: integer

  /api/explore/artworks:
    get:
      tags:
        - Explore
      summary: Listar obras del catálogo por categoría/país
      parameters:
        - in: query
          name: category_id
          schema:
            type: string
        - in: query
          name: subcategory_id
          schema:
            type: string
        - in: query
          name: country
          schema:
            type: string
        - in: query
          name: language
          schema:
            type: string
            default: 'es'
        - in: query
          name: limit
          schema:
            type: integer
            default: 20
        - in: query
          name: offset
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Lista paginada de obras
          content:
            application/json:
              schema:
                type: object
                properties:
                  artworks:
                    type: array
                    items:
                      $ref: '#/components/schemas/Artwork'
                  pagination:
                    type: object
                    properties:
                      total:
                        type: integer
                      limit:
                        type: integer
                      offset:
                        type: integer
                      hasMore:
                        type: boolean
                  filters:
                    type: object

  # ----------------------------
  # ARTWORKS (CATALOG)
  # ----------------------------
  /api/artworks/{id}:
    get:
      tags:
        - Artworks Catalog
      summary: Obtener detalle de una obra específica
      parameters:
        - in: path
          name: id
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
        - in: query
          name: language
          schema:
            type: string
            default: 'es'
      responses:
        '200':
          description: Detalle de la obra
          content:
            application/json:
              schema:
                type: object
                properties:
                  artwork:
                    $ref: '#/components/schemas/Artwork'

  /api/artworks/search:
    get:
      tags:
        - Artworks Catalog
      summary: Buscar obras por título o autor
      parameters:
        - in: query
          name: q
          required: true
          schema:
            type: string
          description: Query de búsqueda
        - in: query
          name: language
          schema:
            type: string
            default: 'es'
        - in: query
          name: limit
          schema:
            type: integer
            default: 20
        - in: query
          name: offset
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Resultados de búsqueda
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Artwork'
                  pagination:
                    type: object
                    properties:
                      total:
                        type: integer
                      limit:
                        type: integer
                      offset:
                        type: integer
                      hasMore:
                        type: boolean
                  query:
                    type: string

  # ----------------------------
  # USER COLLECTION
  # ----------------------------
  /api/user/collection:
    get:
      tags:
        - User Collection
      summary: Resumen de la colección del usuario
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: language
          schema:
            type: string
            default: 'es'
      responses:
        '200':
          description: Estadísticas y grupos de la colección
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionSummary'

  /api/user/collection/artist/{artistName}:
    get:
      tags:
        - User Collection
      summary: Obtener obras de usuario filtradas por artista
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: artistName
          required: true
          schema:
            type: string
          description: Nombre del artista (URL encoded)
        - in: query
          name: language
          schema:
            type: string
            default: 'es'
      responses:
        '200':
          description: Obras del artista en la colección
          content:
            application/json:
              schema:
                type: object
                properties:
                  artist:
                    type: string
                  artworkCount:
                    type: integer
                  artworks:
                    type: array
                    items:
                      $ref: '#/components/schemas/UserIdentifiedArtwork'

  /api/user/collection/country/{countryName}:
    get:
      tags:
        - User Collection
      summary: Obtener obras de usuario filtradas por país
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: countryName
          required: true
          schema:
            type: string
        - in: query
          name: language
          schema:
            type: string
            default: 'es'
      responses:
        '200':
          description: Obras del país en la colección
          content:
            application/json:
              schema:
                type: object
                properties:
                  country:
                    type: string
                  artworkCount:
                    type: integer
                  artworks:
                    type: array
                    items:
                      $ref: '#/components/schemas/UserIdentifiedArtwork'

  /api/user/collection/recent:
    get:
      tags:
        - User Collection
      summary: Obtener obras recientemente identificadas
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
            default: 3
        - in: query
          name: language
          schema:
            type: string
            default: 'es'
      responses:
        '200':
          description: Lista de obras recientes
          content:
            application/json:
              schema:
                type: object
                properties:
                  artworks:
                    type: array
                    items:
                      # Nota: La respuesta de ejemplo muestra una versión simplificada,
                      # pero usaremos el esquema completo para consistencia o una versión parcial inline
                      type: object
                      properties:
                        id:
                          $ref: '#/components/schemas/UUID'
                        title:
                          type: string
                        author:
                          type: string
                        capturedImageUrl:
                          type: string
                        identifiedAt:
                          type: string
                          format: date-time

  /api/user/collection/identify:
    post:
      tags:
        - User Collection
      summary: Guardar una obra identificada en la colección
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdentifyArtworkRequest'
      responses:
        '200':
          description: Obra guardada exitosamente
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  artwork:
                    $ref: '#/components/schemas/UserIdentifiedArtwork'
                  updatedStats:
                    $ref: '#/components/schemas/CollectionStats'

  /api/user/collection/{id}:
    delete:
      tags:
        - User Collection
      summary: Eliminar una obra de la colección
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '200':
          description: Obra eliminada
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                  deletedId:
                    $ref: '#/components/schemas/UUID'
                  updatedStats:
                    $ref: '#/components/schemas/CollectionStats'

  # ----------------------------
  # SYNC
  # ----------------------------
  /api/sync/users/me:
    get:
      tags:
        - Users
      summary: Obtener perfil del usuario autenticado
      description: |
        Retorna la información del perfil del usuario actual.

        **Uso en la app:**
        - Se llama automáticamente después del login para sincronizar datos con SQLite local
        - Los datos se cachean localmente para acceso offline
        - El backend es la fuente de verdad para el perfil del usuario
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Perfil del usuario
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
              example:
                id: '550e8400-e29b-41d4-a716-446655440000'
                email: 'user@example.com'
                display_name: 'John Doe'
                avatar_url: 'https://example.com/avatar.jpg'
                preferred_language: 'es'
                is_premium: false
                created_at: '2025-12-01T20:00:00Z'
        '401':
          description: No autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error: 'Unauthorized'
                message: 'No authentication token provided'

    patch:
      tags:
        - Users
      summary: Actualizar perfil del usuario autenticado
      description: |
        Actualiza la información del perfil del usuario actual.

        **Campos actualizables:**
        - `display_name`: Nombre visible del usuario
        - `avatar_url`: URL de la foto de perfil
        - `preferred_language`: Idioma preferido (es/en)

        **Notas:**
        - Solo se actualizan los campos proporcionados (PATCH parcial)
        - El cambio de idioma afecta el contenido personalizado (quotes, descripciones)
        - La app debe sincronizar los cambios con SQLite local después de actualizar
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserRequest'
            examples:
              update_language:
                summary: Cambiar idioma preferido
                value:
                  preferred_language: 'en'
              update_profile:
                summary: Actualizar nombre y avatar
                value:
                  display_name: 'Jane Smith'
                  avatar_url: 'https://example.com/new-avatar.jpg'
              update_all:
                summary: Actualizar todos los campos
                value:
                  display_name: 'Jane Smith'
                  avatar_url: 'https://example.com/new-avatar.jpg'
                  preferred_language: 'en'
      responses:
        '200':
          description: Perfil actualizado exitosamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
              example:
                id: '550e8400-e29b-41d4-a716-446655440000'
                email: 'user@example.com'
                display_name: 'Jane Smith'
                avatar_url: 'https://example.com/new-avatar.jpg'
                preferred_language: 'en'
                is_premium: false
                created_at: '2025-12-01T20:00:00Z'
        '400':
          description: Datos inválidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error: 'Validation Error'
                message: "preferred_language must be 'es' or 'en'"
        '401':
          description: No autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error: 'Unauthorized'
                message: 'No authentication token provided'
  /api/sync/categories:
    get:
      tags:
        - Explore
      summary: Obtener todas las categorías con jerarquía y traducciones
      description: |
        Retorna el catálogo completo de categorías de arte con su estructura jerárquica.

        **Estructura de jerarquía:**
        - 3 categorías principales: Pintura, Escultura, Arquitectura y Monumentos
        - 14 subcategorías (períodos artísticos): Antigüedad, Renacimiento, Barroco, etc.
        - Cada subcategoría pertenece a las 3 categorías principales (42 relaciones totales)

        **Uso en la app:**
        - Sincronización inicial al instalar la app o login
        - Actualización periódica en background sync
        - Filtrado en pantalla Explore por categoría/subcategoría
        - Navegación jerárquica: Category → Subcategory → Artworks

        **Sync incremental:**
        - Usar campo `updatedAt` para detectar cambios
        - Cachear localmente en SQLite para acceso offline
        - Las traducciones se sirven según el parámetro `language`
      parameters:
        - in: query
          name: language
          required: false
          schema:
            type: string
            enum: [es, en]
            default: 'es'
          description: |
            Código ISO 639-1 del idioma para las traducciones de nombres de categorías.
            Si no existe traducción para el idioma solicitado, se devuelve español por defecto.
      responses:
        '200':
          description: Lista completa de categorías con relaciones
          content:
            application/json:
              schema:
                type: object
                properties:
                  categories:
                    type: array
                    items:
                      $ref: '#/components/schemas/CategoryWithRelations'
                    description: 'Array con todas las categorías (principales y subcategorías)'
                  updatedAt:
                    type: string
                    format: date-time
                    description: 'Timestamp de la última actualización del catálogo (para sync incremental)'
                    example: '2025-12-04T10:30:00Z'
              examples:
                complete_hierarchy:
                  summary: Ejemplo completo con jerarquía de categorías
                  value:
                    categories:
                      - id: 'pintura'
                        name: 'Pintura'
                        type: 'category'
                        icon: '🎨'
                        imageUrl: null
                        sortOrder: 1
                        parentIds: []
                        childIds:
                          - 'antiguedad-romana-griega'
                          - 'arte-medieval-romanico'
                          - 'arte-medieval-gotico'
                          - 'renacimiento'
                          - 'manierismo'
                          - 'barroco'
                          - 'rococo'
                          - 'neoclasicismo'
                          - 'romanticismo'
                          - 'realismo'
                          - 'impresionismo-postimpresionismo'
                          - 'modernismo'
                          - 'vanguardias'
                          - 'arte-moderno-contemporaneo'
                        updatedAt: '2025-12-04T10:00:00Z'
                      - id: 'escultura'
                        name: 'Escultura'
                        type: 'category'
                        icon: '🗿'
                        imageUrl: null
                        sortOrder: 2
                        parentIds: []
                        childIds:
                          - 'antiguedad-romana-griega'
                          - 'arte-medieval-romanico'
                          - 'arte-medieval-gotico'
                          - 'renacimiento'
                          - 'manierismo'
                          - 'barroco'
                          - 'rococo'
                          - 'neoclasicismo'
                          - 'romanticismo'
                          - 'realismo'
                          - 'impresionismo-postimpresionismo'
                          - 'modernismo'
                          - 'vanguardias'
                          - 'arte-moderno-contemporaneo'
                        updatedAt: '2025-12-04T10:00:00Z'
                      - id: 'arquitectura-monumentos'
                        name: 'Arquitectura y Monumentos'
                        type: 'category'
                        icon: '🏛️'
                        imageUrl: null
                        sortOrder: 3
                        parentIds: []
                        childIds:
                          - 'antiguedad-romana-griega'
                          - 'arte-medieval-romanico'
                          - 'arte-medieval-gotico'
                          - 'renacimiento'
                          - 'manierismo'
                          - 'barroco'
                          - 'rococo'
                          - 'neoclasicismo'
                          - 'romanticismo'
                          - 'realismo'
                          - 'impresionismo-postimpresionismo'
                          - 'modernismo'
                          - 'vanguardias'
                          - 'arte-moderno-contemporaneo'
                        updatedAt: '2025-12-04T10:00:00Z'
                      - id: 'renacimiento'
                        name: 'Renacimiento'
                        type: 'subcategory'
                        icon: '🎭'
                        imageUrl: null
                        sortOrder: 4
                        parentIds:
                          - 'pintura'
                          - 'escultura'
                          - 'arquitectura-monumentos'
                        childIds: []
                        updatedAt: '2025-12-04T10:00:00Z'
                      - id: 'barroco'
                        name: 'Barroco'
                        type: 'subcategory'
                        icon: '👑'
                        imageUrl: null
                        sortOrder: 6
                        parentIds:
                          - 'pintura'
                          - 'escultura'
                          - 'arquitectura-monumentos'
                        childIds: []
                        updatedAt: '2025-12-04T10:00:00Z'
                      - id: 'impresionismo-postimpresionismo'
                        name: 'Impresionismo y Post-Impresionismo'
                        type: 'subcategory'
                        icon: '🌈'
                        imageUrl: null
                        sortOrder: 11
                        parentIds:
                          - 'pintura'
                          - 'escultura'
                          - 'arquitectura-monumentos'
                        childIds: []
                        updatedAt: '2025-12-04T10:00:00Z'
                    updatedAt: '2025-12-04T10:30:00Z'
        '500':
          description: Error interno del servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error: 'internal_server_error'
                message: 'Failed to retrieve categories from database'
  # ----------------------------
  # WEBHOOKS
  # ----------------------------
  /api/webhooks/supabase/user-created:
    post:
      tags:
        - Webhooks
      summary: Webhook para sincronizar usuarios de Supabase Auth
      description: |
        Endpoint llamado automáticamente por Supabase cuando se crea un nuevo usuario.
        Sincroniza el usuario de Supabase Auth con la tabla local de usuarios en Postgres.

        **Configuración en Supabase:**
        1. Dashboard → Authentication → Webhooks
        2. Crear webhook para evento "User Created" (INSERT on auth.users)
        3. URL: https://api.artexplorer.com/api/webhooks/supabase/user-created
        4. Agregar header: x-webhook-secret con el valor de SUPABASE_WEBHOOK_SECRET

        **Comportamiento:**
        - Crea usuario en tabla local con el mismo UUID de Supabase Auth
        - Extrae email y metadata del perfil (displayName, avatarUrl, language)
        - Es idempotente: llamadas duplicadas son seguras
        - Valida secret para prevenir acceso no autorizado
      security:
        - webhookSecret: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SupabaseWebhookPayload'
            examples:
              user_created:
                summary: Usuario creado con metadata completa (email signup)
                value:
                  type: 'INSERT'
                  table: 'users'
                  record:
                    id: '550e8400-e29b-41d4-a716-446655440000'
                    email: 'john.doe@example.com'
                    raw_user_meta_data:
                      displayName: 'John Doe'
                      avatarUrl: 'https://example.com/avatar.jpg'
                      language: 'es'
                    created_at: '2025-12-01T20:00:00Z'
                  schema: 'auth'
                  old_record: null
              user_created_anonymous:
                summary: Usuario anónimo (free trial) creado desde dispositivo
                value:
                  type: 'INSERT'
                  table: 'users'
                  record:
                    id: '650e8400-e29b-41d4-a716-446655440001'
                    email: 'device-abc123@freetrial.travelai.app'
                    raw_user_meta_data:
                      user_type: 'free_trial'
                      device_id: 'abc123-device-uuid'
                      platform: 'ios'
                      is_anonymous: true
                      language: 'en'
                      created_at: '2025-12-03T10:00:00Z'
                    created_at: '2025-12-03T10:00:00Z'
                  schema: 'auth'
                  old_record: null
              user_created_minimal:
                summary: Usuario creado sin metadata opcional (OAuth fallback)
                value:
                  type: 'INSERT'
                  table: 'users'
                  record:
                    id: '550e8400-e29b-41d4-a716-446655440000'
                    email: 'jane.doe@example.com'
                    raw_user_meta_data: null
                    created_at: '2025-12-01T20:00:00Z'
                  schema: 'auth'
                  old_record: null
      responses:
        '200':
          description: Usuario sincronizado exitosamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookSuccessResponse'
              example:
                success: true
                message: 'User created successfully'
                userId: '550e8400-e29b-41d4-a716-446655440000'
        '400':
          description: Payload inválido o datos faltantes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error: 'invalid_payload'
                message: 'Missing required field: record.id'
        '401':
          description: Webhook secret inválido o faltante
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error: 'unauthorized'
                message: 'Invalid or missing webhook secret'
        '500':
          description: Error interno al crear usuario en base de datos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error: 'internal_server_error'
                message: 'Failed to create user in database'
